target/
.cache
.classpath
.project
.settings/
*~
.DS_Store
/*.sc
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
.scala_dependencies
.target/
/.cache
bin/
/.worksheet
lib/jfxrt.jar

