
body{
  font-family: helvetica, sans;
}

h1{
  margin-bottm: 5px;
}

.game {
  display: table;
  
  xborder: 1px solid gray;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(84,84,84,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(84,84,84,1);
  box-shadow: 5px 5px 5px 0px rgba(84,84,84,1);
}

.toolbar {
  background: lightGray;
  padding: 5px;
  border: 1px solid gray;
  
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;  
}

.hidden {
  display: none;
}

.puzzle {
  position: relative;
  background: black;
}

.credits {
  margin-top:10px;
  font-family: helvetica;
  font-size: 10pt;
  font-weight: bold;
}

.moves {
 margin-left: 5px;
 font-size: small;
}

.message {
  padding-left: 20px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}